<div class="ui raised segment">
        <div class="ui blue ribbon label" style="width:180px;height:40px;font-size: 1.3rem;letter-spacing: 0.459em;">
            <i class="address card icon" style="font-size: 1.2em;"></i>个人主页
        </div>
               <div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block" style="padding-top: 10px;">
                                <center class="m-t-30"> <img ng-src="img/avatar/{{modal.photopath}}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">{{modal.nickName}}</h4>
                                    <button class="btn btn-info" 
                                        ngf-select
                                        ngf-change="uploadPhotoName($file)"
                                        ngf-pattern="'image/*'"
                                        ngf-multiple="false"
                                        name="file" 
                                        ngf-max-size="20MB" 
                                        ngf-min-height="100">上传头像</button>
                                </center>
                            </div>
                        </div>
                    </div>
           
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div>
                            <div class="card-block" style="padding-top: 50px;">
                                <form class="form-horizontal form-material" role="form" name="setForm">
                                    <div class="form-group">
                                        <label class="col-md-12">学号</label>
                                        <div class="col-md-12">
                                            <input type="text" 
                                                ng-model=modal.sno
                                                class="form-control form-control-line"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">昵称</label>
                                        <div class="col-md-12">
                                            <input type="text" 
                                                ng-model=modal.nickName
                                                class="form-control form-control-line"
                                                >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">性别</label>
                                        <div class="col-md-12">
                                            <select class="form-control form-control-line"
                                                ng-model="modal.sex">
                                                <option ng-repeat="item in genderList" 
                                                    value={{item.value}}>{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">邮箱</label>
                                        <div class="col-md-12">
                                            <input type="email" 
                                                ng-model=modal.email
                                                placeholder="johnathan@admin.com" 
                                                class="form-control form-control-line" 
                                                name="example-email" 
                                                id="example-email"
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">微信</label>
                                        <div class="col-md-12">
                                            <input type="text" 
                                                value="wechat" 
                                                ng-model=modal.wechat
                                                class="form-control form-control-line"
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">学校</label>
                                        <div class="col-md-12">
                                            <input type="text" 
                                                ng-model=modal.college
                                                 class="form-control form-control-line"
                                                 required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">院系</label>
                                        <div class="col-md-12">
                                            <input type="text" 
                                                ng-model=modal.depart
                                                 class="form-control form-control-line"
                                                 required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">个性宣言</label>
                                        <div class="col-md-12">
                                            <textarea rows="5"
                                                ng-model=modal.introduce 
                                                class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-info" 
                                                ng-click="updateProfile()" 
                                                ng-disabled="setForm.$dirty&&setForm.$invalid"
                                                >保存修改</button>
                                        <a href="" style="position:absolute; padding-left: 60px;line-height: 2;padding-top: 13px;font-size: 15px;font-weight: 400;font-style: italic;text-decoration:underline"
                                            ng-click="modifyPwd()">修改密码</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
         
</div>
