<div class="modal-content">
    <div class="row">
            

        <div class="col-lg-12 col-xlg-12 col-md-12">
            
                <div class="card">
                        <div class="card-block">
                            <center class="m-t-30"> <img src="img/avatar/{{modal.photopath}}" class="img-circle" width="120" />
                                <h4 class="card-title m-t-10">{{modal.nickName}}</h4>
                            </center>
                        </div>
                </div>
                <div class="card">
                <div class="card-block">
                    <form class="form-horizontal form-material" role="form" name="setForm">
                        <div class="row col-md-12">
                            <div class="form-group col-md-6">
                                <label class="col-md-12">学号:</label>
                                <div class="col-md-12">
                                    <input type="text" 
                                        ng-model=modal.sno
                                        class="form-control form-control-line"
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-12">性别:</label>
                                <div class="col-md-12">
                                        <input type="text" 
                                        ng-model=modal.sex
                                        class="form-control form-control-line"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-6">
                                <label  class="col-md-12">邮箱:</label>
                                <div class="col-md-12">
                                    <input type="email" 
                                        ng-model=modal.email
                                        class="form-control form-control-line" 
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-12">微信号:</label>
                                <div class="col-md-12">
                                    <input type="text"
                                        ng-model=modal.wechat
                                        class="form-control form-control-line"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-6">
                                <label class="col-md-12">学校:</label>
                                <div class="col-md-12">
                                    <input type="text" 
                                        ng-model=modal.college
                                        class="form-control form-control-line"
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-12">院系:</label>
                                <div class="col-md-12">
                                    <input type="text" 
                                        ng-model=modal.depart
                                        class="form-control form-control-line"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-11">
                                <label class="col-md-12">自我介绍:</label>
                                <div class="col-md-12">
                                    <textarea rows="2"
                                        ng-model=modal.introduce 
                                        class="form-control form-control-line"
                                        readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$close()">关闭</button>
    </div>
</div>