<div class="ui raised segment">
    <div class="ui blue ribbon label" style="width:180px;height:40px;font-size: 1.3rem;letter-spacing: 0.459em;">
        <i class="bullhorn icon"></i>校友旅游计划
    </div>
    <article>
        <div class="container" style="padding-left: 0px;margin-left: -20px;padding-top: 30px;">
          <ul class="cbp_tmtimeline">
            <li>
              <time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
              <div class="cbp_tmicon"></div>
              <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" 
              style="padding-bottom: 200px;padding-left: 28px;margin-left: 180px;width:800px;padding-top: 1em;background-image:url(img/bg.jpg)">
                <div class="col-md-3">
                  <h2>{{modal[0][2]}}</h2>
                  <p><span class="blogpic" style="height:140px;width:150px;"><a href="/">
                    <img src="img/avatar/{{modal[0][6]}}"></a>
                </div>
                <div class="col-md-6">
                  <div class="row" style="padding-left:30px;padding-top: 50px;">
                    <label>昵称:{{modal[0][7]}}</label><br>
                    <label>院系:{{modal[0][5]}}</label><br>
                    <label>旅游目的地:{{modal[0][1]}}</label><br>
                    <label>出发时间:{{modal[0][1]}}</label><br>
                    <label>具体介绍:{{modal[0][4]}}......</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <a href="" target="_blank" ng-click="viewProfileDetail(modal[0][0])" class="readmore" style="margin-top: 120px;">个人简介&gt;&gt;</a>
                  <a href="" target="_blank" ng-click="viewPlanDetail(modal[0][0])" class="readmore" style="margin-top: 10px;">详细计划&gt;&gt;</a>
                </div>
              </div>
            </li>
            <li>
              <time class="cbp_tmtime" ><span>08-08</span> <span>2017</span></time>
              <div class="cbp_tmicon"></div>
              <div class="cbp_tmlabel"data-scroll-reveal="enter right over 1s" style="padding-bottom: 200px;padding-left: 28px;margin-left: 180px;width:800px;padding-top: 1em;">
                <div class="col-md-3">
                  <h2>{{modal[1][2]}}</h2>
                  <p><span class="blogpic" style="height:140px;width:150px;"><a href="/">
                    <img src="img/avatar/{{modal[1][6]}}"></a>
                </div>
                <div class="col-md-6">
                  <div class="row" style="padding-left:30px;padding-top: 50px;">
                    <label>昵称:{{modal[1][7]}}</label><br>
                    <label>院系:{{modal[1][5]}}</label><br>
                    <label>旅游目的地:{{modal[1][1]}}</label><br>
                    <label>出发时间:{{modal[1][1]}}</label><br>
                    <label>具体介绍:{{modal[1][4]}}......</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <a href="" target="_blank" ng-click="viewProfileDetail(modal[1][0])" class="readmore" style="margin-top: 120px;">个人简介&gt;&gt;</a>
                  <a href="" target="_blank" ng-click="viewPlanDetail(modal[1][0])" class="readmore" style="margin-top: 10px;">详细计划&gt;&gt;</a>
                </div>
            </li>
            <li>
              <time class="cbp_tmtime" ><span>08-08</span> <span>2017</span></time>
              <div class="cbp_tmicon"></div>
              <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" style="padding-bottom: 200px;padding-left: 28px;margin-left: 180px;width:800px;padding-top: 1em;">
                <div class="col-md-3">
                  <h2>{{modal[2][2]}}</h2>
                  <p><span class="blogpic" style="height:140px;width:150px;"><a href="/">
                    <img src="img/avatar/{{modal[2][6]}}"></a>
                </div>
                <div class="col-md-6">
                  <div class="row" style="padding-left:30px;padding-top: 50px;">
                    <label>昵称:{{modal[2][7]}}</label><br>
                    <label>院系:{{modal[2][5]}}</label><br>
                    <label>旅游目的地:{{modal[2][1]}}</label><br>
                    <label>出发时间:{{modal[2][1]}}</label><br>
                    <label>具体介绍:{{modal[2][4]}}......</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <a href="" target="_blank" ng-click="viewProfileDetail(modal[2][0])" class="readmore" style="margin-top: 120px;">个人简介&gt;&gt;</a>
                  <a href="" target="_blank" ng-click="viewPlanDetail(modal[2][0])" class="readmore" style="margin-top: 10px;">详细计划&gt;&gt;</a>
                </div>
            </li>
          </ul>
        </div>
        </aside>
      </article>
      <div style="position:absolute;padding-left:955px;margin-top: -106px;">
        <a class="ui orange right ribbon label" ng-click="changePage('last')">上一页</a>
        <p></p>
        <a class="ui orange right ribbon label" ng-click="changePage('next')">下一页</a>
        <p></p>
      </div>
  </div>
