<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" data-ng-controller="mainPageController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/style.css" rel="stylesheet">
    <link href="lib/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="lib/sweet-alert/lib/sweet-alert.css" rel="stylesheet" >
    <link href="lib/ui-grid/ui-grid.css" rel="stylesheet">
    <script src="mainDependLib.js"></script> 
    
</head>

<body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar" style="height:81px;">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header" style="padding-bottom: 31px;padding-top: 0px;border-bottom-style: solid;border-bottom-width: 0px;">
                    <a class="navbar-brand" href="index.html">
                        <b>
                            <img src="lib/assets/images/logo.png" alt="homepage" class="dark-logo" style="height:80px;width:240px;margin-left: -15px;"/>
                        </b>
                       
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0 " style="padding-left: 450px;padding-top:10px">
                        <li class="nav-item"> <a
                                class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a
                                    class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" 
                                data-ui-sref='profile'
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 10px;"><img
                                    src="img/avatar/{{modal.photopath}}" alt="user" class="profile-pic m-r-5" />{{modal.nickName}}
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" 
                                data-ui-sref='makePlan'
                                data-ng-click="clearInform()" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 10px;"><img
                                    src="img/{{informPath}}" alt="user" class="profile-pic m-r-5" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" >
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a  data-ui-sref="dashboard" 
                                data-ui-sref-active="active"
                                data-ng-click="mactrl.sidebarStat($event)"
                                class="waves-effect">
                                <i class="fa fa-clock-o m-r-10"
                                    aria-hidden="true"></i>Dashboard</a>
                        </li>
                        <li>
                            <a  data-ui-sref='profile'
                                data-ui-sref-active="active"
                                data-ng-click="mactrl.sidebarStat($event)" 
                                class="waves-effect">
                                <i class="fa fa-user m-r-10"
                                    aria-hidden="true"></i>Profile</a>
                        </li>
                        <li>
                            <a  data-ui-sref='makePlan'
                                data-ui-sref-active="active"
                                data-ng-click="mactrl.sidebarStat($event)"
                                class="waves-effect"><i class="fa fa-table m-r-10"
                                    aria-hidden="true"></i>Make Plan</a>
                        </li>
                        <li>
                            <a  data-ui-sref='match'
                                data-ui-sref-active="active"
                                data-ng-click="mactrl.sidebarStat($event)"
                                class="waves-effect"><i class="fa fa-columns m-r-10"
                                    aria-hidden="true"></i>Match Result</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid" style="padding-bottom: 20px;margin-top: -20px;border-top-style: solid;border-top-width: 0px;padding-top: 30px;">
                <div data-ui-view></div>
            </div>
        </div> 
    </div>
    <script src="lib/assets/plugins/jquery/jquery.min.js"></script>

    <script src="lib/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="lib/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="lib/js/jquery.slimscroll.js"></script>

    <script src="lib/js/waves.js"></script>

    <script src="lib/js/sidebarmenu.js"></script>

    <script src="lib/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="lib/js/custom.min.js"></script>
    <script src="lib/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>